<!DOCTYPE html>
<html>
<head>
  <title>sha = <%= @sha %></title>
  <style type="text/css">
    body { background-color: #add8e6; text-align: center; font-family: courier}
    h1 { font-size: 250%; color: #f00; line-height: 1.5em; margin-top: 5em}
    h2 { font-size: 200%; color: #666; line-height: 1.5em; }
  </style>
</head>

<body>
    <h1>SHA =</h1>
    <h2><%= @sha %></h2>
</body>
</html>
